<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div >
    <a routerLink="" class="nav-link active"  >Home</a>
  </div>
    <div>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a routerLink="login" class="nav-link active" >AdminLogin</a>
        </li>
        <li class="nav-item">
          <a routerLink='userlogin' class="nav-link active" >UserLogin</a>
        </li>
        <li class="nav-item">
          <a routerLink="register" class="nav-link active">Register</a>
        </li>
       </ul>

    </div>

</nav>

