
<app-usernav></app-usernav>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Card-->
<div class="card shadow mb-5 bg-white rounded">
    <!--Card-Body-->
    <div class="card-body">
        <!--Card-Title-->
        <p class="card-title text-center shadow mb-5 rounded">Search Flight</p>
        <div class="icons text-center">
            <i class="fa fa-plane fa-2x" aria-hidden="true"></i>
        </div>
        <hr>
        <!--First Row-->
        <form [formGroup] = "flightForm">
        <div class="row mb-3 mt-3"> <label class="radiobtn"><input type="radio" name="gender" value="male">One Way</label> <label class="radiobtn"><input type="radio" name="gender" value="male">Round Trip</label> </div>
        <!--Second Row-->
        <br>
        <div class="row">
            <div class="col-sm-6">
              <input type="test" formControlName = "from" class="form-control" placeholder="From" required>
            </div>
         </div>
         <br>
         <div class="row">
          <div class="col-sm-6">
            <input type="test" formControlName = "to" class="form-control" placeholder="To" required>
          </div>
       </div>
       <br>
       <div class="row">
        <div class="col-sm-6">
          <input type="test" formControlName = "date" class="form-control" placeholder="date" required>
        </div>
     </div>
     <br>
    </form>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]= "!flightForm.valid" (click)="findFlight();" data-dismiss="modal">Submit</button>
      </div>
      </div>
</div>
</div>
</div>
</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>List of Flights</h2>
    <br>|
        <button  class="btn btn-success" data-toggle="modal" data-target="#myModal">Search for Flight</button>  |
      </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>FlightId</th>
          <th>AirlineName</th>
          <th>AirlineId</th>
          <th>FlightName</th>
          <th>FlightFrom</th>
          <th>FlightTo</th>
          <th>Date</th>
          <th>Price</th>
          <th>Available Seats</th>
          <th>BOOK TICKET</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flight;let i = index">
          <td>{{i+1}}</td>
          <td>{{flight.flightId}}</td>
          <td>{{flight.airline.airlineName}}</td>
          <td>{{flight.airline.airlineId}}</td>
          <td>{{flight.flightName}}</td>
          <td>{{flight.from}}</td>
          <td>{{flight.to}}</td>
          <td>{{flight.date}}</td>
          <td>{{flight.price}}</td>
          <td>{{flight.seats}}</td>
          <td><button  class="btn btn-success" data-toggle="modal" data-target="#bookticket" (click)="getFlightId(flight.flightId);">BOOK FLIGHT</button></td>
         </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="bookticket" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Card-->
<div class="card shadow mb-5 bg-white rounded">
    <!--Card-Body-->
    <div class="card-body">
        <!--Card-Title-->
        <p class="card-title text-center shadow mb-5 rounded">Passenger Details</p>
        <div class="icons text-center">
            <i class="fa fa-plane fa-2x" aria-hidden="true"></i>
        </div>
        <hr>
        <!--First Row-->
        <form [formGroup] = "passengerForm">
        <br>
        <div class="row">
          <input type="number" formControlName = "userid" class="form-control" placeholder="please enter your ID" required>
        </div>
        <br>
        <div class="row">
              <input type="test" formControlName = "name" class="form-control" placeholder="please enter your name" required>
         </div>
         <br>
         <div class="row">
            <select formControlName = "gender" name="gender" id="gender">
              <option value="">SELECT</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Others">Others</option>
           </select>
          </div>
       <br>
       <div class="row">
          <input type="number" formControlName = "age" class="form-control" placeholder="please enter your age" required>
          <div *ngIf="(!passengerForm.valid) && (passengerForm.controls['age'].dirty)">
            <span *ngIf="passengerForm.controls['age'].hasError('required')">
             Please Enter age
            </span>
          </div>
       </div>
     <br>
    </form>

    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]= "!passengerForm.valid" data-dismiss="modal"  (click)="bookTicket();">Submit</button>
      </div>
      </div>
</div>
</div>
</div>
</div>
</div>
